.inputForm {
  margin: 10px auto;
  width: 500px;
}

.price {
  text-align: right;
}

.form-floating {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.btn {
  margin-top: 20px;
}

.date {
  text-align: center;
}

.none-img {
  width: 250px;
  height: 250px;

  opacity: 0.8;
}

.prev-img {
  width: 250px;
  height: 250px;
  margin: 5px auto;

  margin-bottom: 50px;
}

img {
  width: 250px;
  height: 250px;

  border-radius: 8px;
}
