.inputForm {
  margin: 10px auto;
  width: 500px;
}

.price {
  text-align: right;
}

.form-floating {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.btn {
  margin-top: 20px;
}

.date {
  text-align: center;
}

.none-img {
  width: 250px;
  height: 250px;

  opacity: 0.8;
}

.prev-img {
  width: 250px;
  height: 250px;
  margin: 5px auto;

  margin-bottom: 50px;
}

.pre-img {
  width: 250px;
  height: 250px;

  border-radius: 8px;
}

.input-label {
  opacity: 0.7;
}

.date {
  outline-style: none;

  border: 1px solid rgb(202, 196, 196);
  border-radius: 3px;

  &:focus {
    border: 2px solid rgb(27, 133, 219);

    box-shadow: 0 2px 3px 0 rgba(27, 133, 219, 0.75);
  }
}

.date-loc {
  margin-bottom: 10px;
}
